.storetail-id-__PLACEHOLDER__ {
    border: 1px solid #0E3368;
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    padding: 0;
    overflow: hidden;
}

.storetail-id-__PLACEHOLDER__[data-count="0"] {
    display: none !important;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette {
    height: 100%;
    float: left;
    /*margin-left: -1px;
  margin-top: -1px;*/
    /*border-left: 1px solid #0E3368;*/
    /*padding: 0.5rem*/
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-inner-wrapper-vignette {
    background-image: __VIGNETTE_IMG__;
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: 100%; */
    background-color: __BG_COLOR__;
    position: relative;
    width: 100%;
    min-height: 470px;
    height: auto;
}

.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-vignette {
    width: calc((100% / 3) - 0.5rem - 4px);
}

.storetail-id-__PLACEHOLDER__[data-count="4"] .sto-vignette {
    /*width: 25%;*/
    width: calc(25% - 0.5rem - 4px);
}

.storetail-id-__PLACEHOLDER__ .sto-tetiere {
    position: absolute;
}

.storetail-id-__PLACEHOLDER__ .sto-products-container {
    display: flex;
    float: right;
    height: 100%;
    /*margin-right: -1px;*/
}

.storetail-id-__PLACEHOLDER__ .sto-products-container .product-card {
    min-height: 470px;
    border-radius: 0 !important;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-products-container .product-card:nth-child(n+2),
.storetail-id-__PLACEHOLDER__[data-count="4"] .sto-products-container .product-card:nth-child(n+3) {
    border-right: none;
}

.storetail-id-__PLACEHOLDER__ .sto-products-container .product-card.product-card--in-cart {
    border-color: rgba(9, 112, 230, .25) !important;
    box-shadow: none !important;
    transform: none;
}

.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-products-container {
    width: calc((100% * (2/3)) + 0.5rem + 4px);
    margin-right: 0;
}

.storetail-id-__PLACEHOLDER__[data-count="4"] .sto-products-container {
    /*width: 75%;*/
    width: calc(75% + 0.5rem + 4px);
}

.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-products-container .product-card {
    width: calc((100% * (2/3)) - 1rem);
}

.storetail-id-__PLACEHOLDER__[data-count="4"] .sto-products-container .product-card {
    width: calc(100% / 3);
}

.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-products-container .product-card:nth-child(n+1),
.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-products-container .product-card:nth-child(n+2),
.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-products-container .product-card:nth-child(n+3),
.storetail-id-__PLACEHOLDER__[data-count="4"] .sto-products-container .product-card:nth-child(n+4) {
    display: none;
}

.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-products-container .product-card:nth-of-type(1) {
    border-right: 1px solid #0E3368;
}

.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-products-container .product-card:nth-of-type(2) {
    border-right: 1px solid #0E3368;
}

.storetail-id-__PLACEHOLDER__[data-count="3"] .sto-products-container .product-card:nth-of-type(3) {
    border-right: 1px solid #0E3368;
}

.storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:last-of-type {
    border-right: 1px solid #0E3368;
}

/* CTA */
.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    bottom: 1.125rem;
    /* -webkit-transform: translateY(-50%) translateX(-50%);
   -moz-transform: translateY(-50%) translateX(-50%);
   -ms-transform: translateY(-50%) translateX(-50%);
   -o-transform: translateY(-50%) translateX(-50%);
   transform: translateY(-50%) translateX(-50%); */
    text-align: center;
    line-height: 1;
    max-width: 100%;
    /* background-image: __CTA_BG__;
   background-position: center;
   background-repeat: no-repeat; */
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta[cta-nb="2"] {
    bottom: 4.5rem;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta .sto-options-cta {
    cursor: pointer;
    height: 40px;
    width: auto;
    max-width: 89%;
    display: inline-block;
    background: #fff;
    line-height: 40px;
    padding: 0 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    white-space: initial;
    line-height: normal;
    height: 100%;
    /*width: 100%;*/
    display: inline-block;
    position: relative;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta[legal] .sto-options-cta {
    cursor: default;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta[option1] .sto-options-cta {
    background-color: __CTA_BG_COLOR__;
    color: __CTA_COLOR__;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta .sto-options-cta button.sto-cta-text {
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: none;
    box-shadow: none;
    border: none;
    outline: none !important;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta .sto-options-cta button.sto-cta-text:focus {
    outline: none !important;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta[option1] .sto-options-cta button.sto-cta-text {
    color: __CTA_COLOR__;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta[option2] .sto-options-cta {
    background-color: __CTA2_BG_COLOR__;
    color: __CTA2_COLOR__;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta[option2] .sto-options-cta button.sto-cta-text {
    color: __CTA2_COLOR__;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta[legal] .sto-options-cta {
    background-color: transparent !important;
    width: 100% !important;
    max-width: 100% !important;
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta .sto-options-cta .sto-cta-text {
    /*transform: translateY(50%);*/
}

.storetail-id-__PLACEHOLDER__ .sto-vignette .sto-cta[legal] .sto-options-cta .sto-cta-text {
    font-size: 8px;
    max-width: 100%;
    line-height: normal;
    display: inline-block;
    height: auto;
    white-space: initial;
    max-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    width: calc(100% - 3rem) !important;
}

.sto-video {
    position: fixed;
    background-color: whitesmoke;
    min-height: 200px;
    min-width: 200px;
    z-index: 10001;
    padding: 40px 10px 20px 10px;
    border-radius: 10px;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    margin-left: 0 !important;
}

.sto-ecran {
    position: fixed;
    background-color: #666161;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    opacity: .5;
}

.sto-close {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 4px;
    top: 4px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sto-close::before,
.sto-close::after {
    content: "";
    position: absolute;
    background-color: #0E3368;
    width: 2px;
    height: 20px;
    left: 50%;
    top: 50%;
}

.sto-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.sto-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:not(.product-card--horizontal) .product-card__body {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:not(.product-card--horizontal) .product-card__graphics {
        flex: 1 1 auto;
        display: flex;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:not(.product-card--horizontal) .product-card__graphics-inner {
        flex: 1 1 auto;
        align-content: center;
        justify-content: center;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:not(.product-card--horizontal) .product-card__thumbnail {
        height: 12.5rem;
        margin-top: 0.5rem;
        margin-top: calc(8 / var(--size) * 1rem);
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:not(.product-card--horizontal) .product-card__image-link {
        height: 12.5rem;
        max-width: 12.5rem;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:not(.product-card--horizontal) .product-card__image:not(.image--lazy):not(.image--lazyloading) {
        width: 12.5rem;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container .product-card:not(.product-card--horizontal) .product-card__descriptions {
        flex: 0 0 auto;
        padding-left: 0;
        align-items: flex-start;
    }
}

@media(max-width:767px) {
    .storetail-id-__PLACEHOLDER__ {
        display: none !important;
    }
}

@media(max-width:598px) {
    .storetail-id-__PLACEHOLDER__ {
        display: none;
    }
}
